@model IEnumerable<Svn2GitMIgrator.Domain.Svn.SvnRepoInfo>
@{
    ViewBag.Title = "Home Page";
}
<h1>Svn 2 Git Repo Migrator</h1>
<div ng-app="migrator.svn" ng-controller="SvnRepoController as vm">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <input ng-model="vm.model.rootUrl" type="url" class="form-control" id="rootUrl" placeholder="SVN Root Url">
                </div>
                <div class="form-group">
                    <input ng-model="vm.model.username" type="text" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input ng-model="vm.model.password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default" ng-click="vm.search()">Search</button>
            </form>
        </div>
        
    </div>
    
    <div class="row" ng-show="vm.repos">
        <div class="col-md-12">
            <h2>Svn folders</h2>
            <div class="list-group">
                <a ng-repeat="repo in vm.repos" class="list-group-item">
                    <h4>{{repo.Name}}</h4>
                    <p class="list-group-item-text clearfix">
                        <input type="button" class="btn btn-info pull-right" value="Migrate" ng-click="vm.migrate(repo.Url)"/>
                        {{repo.Url}}
                    </p>
                </a>
            </div>
        </div>
        
    </div>
    
</div>

@section scripts{
    @Scripts.Render("~/assets/js/app/svn/bundle")
}