<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.7" targetFramework="net462" />
  <package id="SharpSvn.1.9-x64" version="1.9005.3940.224" targetFramework="net462" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net462" />
</packages>